@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Titan+One&display=swap');
@import "tailwindcss";


/* custom colors */
@theme {

  --font-primary: "Dangrek", "sans-serif";
  --font-secondary: "Titan One", "sans-serif"; 
  
  --color-money-green: #61892F;
  --color-lght-green: #86C232;
  --color-wing-green:#006828;
  --color-drk-gray: #222629;
  --color-mdle-gray: #474B4F;
  --color-lght-gray: #6B6E70;
  --color-mid-gray: #686764;
  --color-caramel: #D8C3A5;
  --color-cream: #c6bd9f;
  --color-creamy: #e2decf;


}
/* 
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */


